astroid==2.2.5
bleach==3.1.4
boto3==1.9.224
botocore==1.12.224
certifi==2019.6.16
chardet==3.0.4
docutils==0.15.2
grpcio==1.23.0
idna==2.8
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.2
mccabe==0.6.1
mypy==0.720
mypy-extensions==0.4.1
pkginfo==1.5.0.1
protobuf==3.9.1
Pygments==2.4.2
pylint==2.3.1
python-dateutil==2.8.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
simiotics==0.1.2
six==1.12.0
tqdm==4.35.0
twine==1.14.0
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.3
webencodings==0.5.1
wrapt==1.11.2
